* {
	box-sizing: border-box;
	}
HTML, BODY, H1, H2, H3, H4, H5, H6, P, FORM, TEXTAREA, PRE, UL, OL, LI, TABLE, TR, TD, TH {
	margin: 0;
	padding: 0;
	border: 0;
	}
HTML, BODY, FORM {
	height: 100%;
	}
BODY {
	font-family: serif;
	font-size: 12pt;
	}
MAIN {
	padding: 0.5em;
	}

BODY > FORM > HEADER {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #45aeea;		/* COLOR */
	font-family: sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
	border-bottom: 1px solid #1990d5;
	}
BODY > FORM > HEADER > H1 {
	flex-grow: 1;
	color: white;
	margin: 0;
	font-size: 125%;
	font-weight: inherit;
	line-height: 150%;
	}
BODY > FORM.edit > HEADER > H1 {
	padding: .3em;
	}
BODY > FORM > HEADER A {
	display: inline-block;
	color: inherit;
	text-decoration: inherit;
	padding: .3em;
	}
BODY > FORM > HEADER H1 A:hover {
	background-color: #1684c2;
	}
BODY > FORM > HEADER > BUTTON {
	margin: 0 .5em;
	padding: .3em .5em;
	}

H1, H2, H3, H4, H5, H6, LABEL {
	font-family: sans-serif;
	font-weight: bold;
	}
H2, H3, H4, H5, H6 {
	margin: .5em 0;
	}
H1 {
	font-size: 120%;
	}
H2 {
	font-size: 110%;
	}
P {
	margin-bottom: 0.5em;
	}

TABLE {
	border-collapse: collapse;
	margin-bottom: 0.5em;
	}
TH, TD {
	border: thin solid black;
	padding: .4em .5em;
	}

UL, OL {
	margin: 0 0 .5em 1.5em;
	}
LI {
	margin: .2em 0;
	}

/* Edit mode */
FORM.edit {
	display: flex;
	flex-direction: column;
	}
DIV.field {						/* metadata field */
	display: flex;
	flex-direction: row;
	align-items: baseline;
	margin: .5em .5em 0 .5em;
	}
DIV.field > LABEL {
	margin-right: .5em;
	}
DIV.field > INPUT[type="text"] {
	flex-grow: 1;
	padding: .2em;
	}
TEXTAREA {
	display: block;
	width: calc(100% - 1em);
	flex-grow: 1;
	border: thin solid black;
	margin: .5em;
	padding: .5em;
	}

TABLE.codehilitetable {
	background-color: #e4e8FF;	/* COLOR */
	}
TABLE.codehilitetable TD {
	border: none;
	}
.codehilite {
	margin: 0 0 .5em .5em;
	border: 1px solid #e0e0e0;
	}
PRE {
	padding: .2em;
	}

